In [1]:
#Assignment Operator
x=1
x+=1 #x=x+1
#list are mutable objects

In [2]:
x

2

List is a of ordered items

In [4]:
job_skills =["python","sql","excel"]

In [5]:
job_skills.remove("python")

In [6]:
print(job_skills)

['sql', 'excel']

In [8]:
job_skills.insert(2,"Tableau")

In [2]:
skills=['python','chash','php']
for i in skills:
    print (i)

python
chash
php

Loop:

In [20]:
import random

years_experience = {
    "Data Analyst": random.randint(1, 20),
    "Software Engineer": random.randint(1, 20),
    "Project Manager": random.randint(1, 20),
    "Civil Engineer": random.randint(1, 20),
    "Marketing Specialist": random.randint(1, 20),
    "Graphic Designer": random.randint(1, 20),
    "Cybersecurity Analyst": random.randint(1, 20),
    "Mechanical Engineer": random.randint(1, 20),
    "Business Consultant": random.randint(1, 20),
    "Human Resources Manager": random.randint(1, 20),
    "Financial Analyst": random.randint(1, 20),
    "Electrical Engineer": random.randint(1, 20),
    "UX/UI Designer": random.randint(1, 20),
    "DevOps Engineer": random.randint(1, 20),
    "Cloud Architect": random.randint(1, 20),
    "AI Researcher": random.randint(1, 20),
    "Biomedical Engineer": random.randint(1, 20),
    "SEO Specialist": random.randint(1, 20),
    "Sales Manager": random.randint(1, 20),
    "Network Administrator": random.randint(1, 20),
    "Technical Writer": random.randint(1, 20),
    "Product Manager": random.randint(1, 20),
    "Legal Consultant": random.randint(1, 20),
    "Economist": random.randint(1, 20),
    "Operations Manager": random.randint(1, 20)
}

print(years_experience)

{'Data Analyst': 15, 'Software Engineer': 14, 'Project Manager': 12, 'Civil Engineer': 1, 'Marketing Specialist': 17, 'Graphic Designer': 15, 'Cybersecurity Analyst': 8, 'Mechanical Engineer': 19, 'Business Consultant': 17, 'Human Resources Manager': 16, 'Financial Analyst': 11, 'Electrical Engineer': 12, 'UX/UI Designer': 17, 'DevOps Engineer': 3, 'Cloud Architect': 10, 'AI Researcher': 18, 'Biomedical Engineer': 9, 'SEO Specialist': 2, 'Sales Manager': 8, 'Network Administrator': 19, 'Technical Writer': 19, 'Product Manager': 11, 'Legal Consultant': 20, 'Economist': 8, 'Operations Manager': 5}

In [21]:
for role,years in years_experience.items():
    if years>5:
        print(role,years)

Data Analyst 15
Software Engineer 14
Project Manager 12
Marketing Specialist 17
Graphic Designer 15
Cybersecurity Analyst 8
Mechanical Engineer 19
Business Consultant 17
Human Resources Manager 16
Financial Analyst 11
Electrical Engineer 12
UX/UI Designer 17
Cloud Architect 10
AI Researcher 18
Biomedical Engineer 9
Sales Manager 8
Network Administrator 19
Technical Writer 19
Product Manager 11
Legal Consultant 20
Economist 8

### While loop:

### List comprehension

In [36]:
numbers= [float(x) for x in range(20)]
numbers

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0]

In [1]:
from datetime import datetime

In [2]:
datetime.now()

datetime.datetime(2025, 4, 1, 12, 24, 23, 391287)

In [4]:
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']},
    {'role': 'DevOps Engineer', 'skills': ['Python', 'Docker', 'Kubernetes', 'AWS', 'CI/CD']},
    {'role': 'Research Scientist', 'skills': ['Python', 'R', 'Statistics', 'Experimental Design']},
    {'role': 'Big Data Architect', 'skills': ['Hadoop', 'Spark', 'NoSQL', 'Data Warehousing']},
    {'role': 'Financial Analyst', 'skills': ['Excel', 'Python', 'Financial Modeling', 'SQL']},
    {'role': 'Data Visualization Specialist', 'skills': ['Tableau', 'Power BI', 'D3.js', 'Python']},
    {'role': 'ETL Developer', 'skills': ['SQL', 'Python', 'Data Pipelines', 'Apache Airflow']},
    {'role': 'Computer Vision Engineer', 'skills': ['Python', 'OpenCV', 'TensorFlow', 'Image Processing']},
    {'role': 'NLP Engineer', 'skills': ['Python', 'NLTK', 'spaCy', 'Transformer Models']},
    {'role': 'Cloud Data Engineer', 'skills': ['AWS', 'Python', 'Spark', 'Data Lakes']},
    {'role': 'Business Analyst', 'skills': ['SQL', 'Excel', 'PowerPoint', 'Requirements Gathering']}
]

In [11]:
data_science_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel', 'Tableau'], 'start_date': '2022-03-15'},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn'], 'start_date': '2021-08-10'},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Statistics'], 'start_date': '2020-11-22'},
    {'role': 'Data Engineer', 'skills': ['Python', 'SQL', 'Apache Spark', 'ETL'], 'start_date': '2023-01-05'},
    {'role': 'Business Intelligence Analyst', 'skills': ['SQL', 'Power BI', 'Excel', 'Data Visualization'], 'start_date': '2022-06-18'},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Database Management', 'Backup/Recovery'], 'start_date': '2019-09-30'},
    {'role': 'AI Research Engineer', 'skills': ['Python', 'TensorFlow', 'Research Papers', 'NLP'], 'start_date': '2021-04-12'},
    {'role': 'Data Visualization Specialist', 'skills': ['Tableau', 'Power BI', 'D3.js', 'Design Principles'], 'start_date': '2023-02-28'},
    {'role': 'Cloud Data Architect', 'skills': ['AWS', 'Azure', 'Data Pipelines', 'Data Warehousing'], 'start_date': '2020-07-15'},
    {'role': 'Quantitative Analyst', 'skills': ['Python', 'R', 'Financial Modeling', 'Statistics'], 'start_date': '2022-09-01'}
]

In [22]:
test_date=data_science_roles[0]['start_date']
print(test_date)

2022-03-15

In [15]:
# the datetime.strptime (date_string,format) is used to convert str to date format using the given arguments

In [24]:
datetime.strptime(test_date, "%Y-%m-%d")  # Single % signs

datetime.datetime(2022, 3, 15, 0, 0)

In [35]:
for job in data_science_roles:
    job['start_date']=datetime.strptime(job['start_date'],"%Y-%m-%d")

TypeError: strptime() argument 1 must be str, not datetime.datetime

In [36]:
data_science_roles

[{'role': 'Data Analyst',
  'skills': ['Python', 'SQL', 'Excel', 'Tableau'],
  'start_date': datetime.datetime(2022, 3, 15, 0, 0)},
 {'role': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn'],
  'start_date': datetime.datetime(2021, 8, 10, 0, 0)},
 {'role': 'Data Scientist',
  'skills': ['Python', 'R', 'Machine Learning', 'Statistics'],
  'start_date': datetime.datetime(2020, 11, 22, 0, 0)},
 {'role': 'Data Engineer',
  'skills': ['Python', 'SQL', 'Apache Spark', 'ETL'],
  'start_date': datetime.datetime(2023, 1, 5, 0, 0)},
 {'role': 'Business Intelligence Analyst',
  'skills': ['SQL', 'Power BI', 'Excel', 'Data Visualization'],
  'start_date': datetime.datetime(2022, 6, 18, 0, 0)},
 {'role': 'Database Administrator',
  'skills': ['SQL', 'Database Management', 'Backup/Recovery'],
  'start_date': datetime.datetime(2019, 9, 30, 0, 0)},
 {'role': 'AI Research Engineer',
  'skills': ['Python', 'TensorFlow', 'Research Papers', 'NLP'],
  'start_date': datetime.datetime(2021, 4, 12, 0, 0)},
 {'role': 'Data Visualization Specialist',
  'skills': ['Tableau', 'Power BI', 'D3.js', 'Design Principles'],
  'start_date': datetime.datetime(2023, 2, 28, 0, 0)},
 {'role': 'Cloud Data Architect',
  'skills': ['AWS', 'Azure', 'Data Pipelines', 'Data Warehousing'],
  'start_date': datetime.datetime(2020, 7, 15, 0, 0)},
 {'role': 'Quantitative Analyst',
  'skills': ['Python', 'R', 'Financial Modeling', 'Statistics'],
  'start_date': datetime.datetime(2022, 9, 1, 0, 0)}]

Classes

In [87]:
class BaseSalary:
    def __init__(self,base_salary,bonus_rate=0.2,symbol="$"):
        self.base_salary=base_salary
        self.bonus=bonus_rate
        self.symbol=symbol
        self.total_salary=base_salary*(1+bonus_rate)
        self.bonus=(self.total_salary-self.base_salary)

    def __repr__(self):
        return f'{self.symbol}{self.base_salary:,.1f}'
    def calcualate_salary(self):
        return f'{self.symbol}{self.total_salary:,.1f}'
    def calculate_bonus(self):
        return f'{self.symbol}{self.bonus:,.1f}'

In [88]:
salary=BaseSalary(1000)

In [89]:
salary

$1,000.0

In [90]:
value=1000000
f'{value:,.2f}'

'1,000,000.00'

In [91]:
salary.bonus

200.0